In [66]:
from datetime import datetime
from dotenv import load_dotenv
from os import getenv
import pandas as pd
import requests

load_dotenv()
pd.set_option('display.max_columns', None)

In [67]:
df = pd.read_csv('races.csv')
df.when = pd.to_datetime(df.when)
df.head(2)

,division,when,team1,team2,time_tot,win,hurdles,name1,start_chng1,time1,name2,start_chng2,time2,name3,start_chng3,time3,name4,start_chng4,time4,event,course_color
0,1,2023-04-22 10:11:57,WildRunners dreamers,WildRunners Maximini,17.01,L,25.0,Sunny,-0.24,4.21,Dixie,0.30,4.24,Alex,0.16,4.22,Hector,0.0,4.13,Hanácké škvarek (Heroltice),blue
1,1,2023-04-22 10:11:57,WildRunners Maximini,WildRunners dreamers,19.43,L,25.0,Brooke,-0.11,4.08,Rocky,1.29,5.15,Bella,0.23,4.52,Bree,0.0,4.28,Hanácké škvarek (Heroltice),red

In [99]:
coordinates = {}

def coordinates_of(city):
    if city in coordinates:
        return coordinates[city]['lat'], coordinates[city]['lon']
    
    country = 'HU' if city == 'Tápiószentmárton' else 'CZ'
    url = f"https://api.openweathermap.org/geo/1.0/direct?q={city},{country}&appid={getenv('API_KEY')}"
    response = requests.get(url)
    data = response.json()[0]
    coordinates[city] = {
        'lat': data['lat'],
        'lon': data['lon']
    }
    return data['lat'], data['lon']

In [69]:
def get_timestamp(date, hour):
    return int(datetime.strptime(f'{date} {hour}:00:00', '%Y-%m-%d %H:%M:%S').timestamp())

In [97]:
def get_weather(city, date, hour):
    lat, lon = coordinates_of(city)
    timestamp = get_timestamp(date, hour)
    url = f"https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={timestamp}&units=metric&appid={getenv('API_KEY')}"
    response = requests.get(url)
    data = response.json()['data'][0]
    return data

In [71]:
def date2city(date):
    return df[df.when.dt.date == date].iloc[0].event.split('(')[1].split(')')[0]

In [72]:
days = pd.Series(df.when.dt.date.unique())
#hours = pd.Series(df.when.dt.time).apply(lambda x: x.hour).unique()

In [117]:
weather_df = pd.DataFrame({
    'date': days,
    'city': days.apply(date2city)
})
weather_df = weather_df.loc[weather_df.index.repeat(11)].reset_index(drop=True)
weather_df['hour'] = list(range(8, 19)) * len(days)
weather_df['temperature'] = 0.0
weather_df['feels_like'] = 0.0
weather_df['humidity'] = 0
weather_df['wind_speed'] = 0.0
weather_df['weather'] = ''
weather_df['rain'] = 0.0
weather_df.head()

,date,city,hour,temperature,feels_like,humidity,wind_speed,weather,rain
0,2023-04-22,Heroltice,8,0.0,0.0,0,0.0,,0.0
1,2023-04-22,Heroltice,9,0.0,0.0,0,0.0,,0.0
2,2023-04-22,Heroltice,10,0.0,0.0,0,0.0,,0.0
3,2023-04-22,Heroltice,11,0.0,0.0,0,0.0,,0.0
4,2023-04-22,Heroltice,12,0.0,0.0,0,0.0,,0.0

In [116]:
def fill_weather_data(df):
    for i, row in df.iterrows():
        print(row.city, row.date, row.hour)
        weather = get_weather(row.city, str(row.date), str(row.hour))
        df.loc[i, 'temperature'] = weather['temp']
        df.loc[i, 'feels_like'] = weather['feels_like']
        df.loc[i, 'humidity'] = weather['humidity']
        df.loc[i, 'wind_speed'] = weather['wind_speed']
        df.loc[i, 'weather'] = weather['weather'][0]['main']
        df.loc[i, 'rain'] = weather['rain']['1h'] if 'rain' in weather else 0.0

In [118]:
fill_weather_data(weather_df)

Heroltice 2023-04-22 8
Heroltice 2023-04-22 9
Heroltice 2023-04-22 10
Heroltice 2023-04-22 11
Heroltice 2023-04-22 12
Heroltice 2023-04-22 13
Heroltice 2023-04-22 14
Heroltice 2023-04-22 15
Heroltice 2023-04-22 16
Heroltice 2023-04-22 17
Heroltice 2023-04-22 18
Heroltice 2023-04-23 8
Heroltice 2023-04-23 9
Heroltice 2023-04-23 10
Heroltice 2023-04-23 11
Heroltice 2023-04-23 12
Heroltice 2023-04-23 13
Heroltice 2023-04-23 14
Heroltice 2023-04-23 15
Heroltice 2023-04-23 16
Heroltice 2023-04-23 17
Heroltice 2023-04-23 18
Žamberk 2023-05-06 8
Žamberk 2023-05-06 9
Žamberk 2023-05-06 10
Žamberk 2023-05-06 11
Žamberk 2023-05-06 12
Žamberk 2023-05-06 13
Žamberk 2023-05-06 14
Žamberk 2023-05-06 15
Žamberk 2023-05-06 16
Žamberk 2023-05-06 17
Žamberk 2023-05-06 18
Žamberk 2023-05-07 8
Žamberk 2023-05-07 9
Žamberk 2023-05-07 10
Žamberk 2023-05-07 11
Žamberk 2023-05-07 12
Žamberk 2023-05-07 13
Žamberk 2023-05-07 14
Žamberk 2023-05-07 15
Žamberk 2023-05-07 16
Žamberk 2023-05-07 17
Žamberk 2023-05-07 18
Blšany 2023-05-20 8
Blšany 2023-05-20 9
Blšany 2023-05-20 10
Blšany 2023-05-20 11
Blšany 2023-05-20 12
Blšany 2023-05-20 13
Blšany 2023-05-20 14
Blšany 2023-05-20 15
Blšany 2023-05-20 16
Blšany 2023-05-20 17
Blšany 2023-05-20 18
Blšany 2023-05-21 8
Blšany 2023-05-21 9
Blšany 2023-05-21 10
Blšany 2023-05-21 11
Blšany 2023-05-21 12
Blšany 2023-05-21 13
Blšany 2023-05-21 14
Blšany 2023-05-21 15
Blšany 2023-05-21 16
Blšany 2023-05-21 17
Blšany 2023-05-21 18
Pláně 2023-06-10 8
Pláně 2023-06-10 9
Pláně 2023-06-10 10
Pláně 2023-06-10 11
Pláně 2023-06-10 12
Pláně 2023-06-10 13
Pláně 2023-06-10 14
Pláně 2023-06-10 15
Pláně 2023-06-10 16
Pláně 2023-06-10 17
Pláně 2023-06-10 18
Pláně 2023-06-11 8
Pláně 2023-06-11 9
Pláně 2023-06-11 10
Pláně 2023-06-11 11
Pláně 2023-06-11 12
Pláně 2023-06-11 13
Pláně 2023-06-11 14
Pláně 2023-06-11 15
Pláně 2023-06-11 16
Pláně 2023-06-11 17
Pláně 2023-06-11 18
Prostějov 2023-06-24 8
Prostějov 2023-06-24 9
Prostějov 2023-06-24 10
Prostějov 2023-06-24 11
Prostějov 2023-06-24 12
Prostějov 2023-06-24 13
Prostějov 2023-06-24 14
Prostějov 2023-06-24 15
Prostějov 2023-06-24 16
Prostějov 2023-06-24 17
Prostějov 2023-06-24 18
Prostějov 2023-06-25 8
Prostějov 2023-06-25 9
Prostějov 2023-06-25 10
Prostějov 2023-06-25 11
Prostějov 2023-06-25 12
Prostějov 2023-06-25 13
Prostějov 2023-06-25 14
Prostějov 2023-06-25 15
Prostějov 2023-06-25 16
Prostějov 2023-06-25 17
Prostějov 2023-06-25 18
Nové Město pod Smrkem 2023-07-01 8
Nové Město pod Smrkem 2023-07-01 9
Nové Město pod Smrkem 2023-07-01 10
Nové Město pod Smrkem 2023-07-01 11
Nové Město pod Smrkem 2023-07-01 12
Nové Město pod Smrkem 2023-07-01 13
Nové Město pod Smrkem 2023-07-01 14
Nové Město pod Smrkem 2023-07-01 15
Nové Město pod Smrkem 2023-07-01 16
Nové Město pod Smrkem 2023-07-01 17
Nové Město pod Smrkem 2023-07-01 18
Nové Město pod Smrkem 2023-07-02 8
Nové Město pod Smrkem 2023-07-02 9
Nové Město pod Smrkem 2023-07-02 10
Nové Město pod Smrkem 2023-07-02 11
Nové Město pod Smrkem 2023-07-02 12
Nové Město pod Smrkem 2023-07-02 13
Nové Město pod Smrkem 2023-07-02 14
Nové Město pod Smrkem 2023-07-02 15
Nové Město pod Smrkem 2023-07-02 16
Nové Město pod Smrkem 2023-07-02 17
Nové Město pod Smrkem 2023-07-02 18
Louňovice 2023-07-15 8
Louňovice 2023-07-15 9
Louňovice 2023-07-15 10
Louňovice 2023-07-15 11
Louňovice 2023-07-15 12
Louňovice 2023-07-15 13
Louňovice 2023-07-15 14
Louňovice 2023-07-15 15
Louňovice 2023-07-15 16
Louňovice 2023-07-15 17
Louňovice 2023-07-15 18
Louňovice 2023-07-16 8
Louňovice 2023-07-16 9
Louňovice 2023-07-16 10
Louňovice 2023-07-16 11
Louňovice 2023-07-16 12
Louňovice 2023-07-16 13
Louňovice 2023-07-16 14
Louňovice 2023-07-16 15
Louňovice 2023-07-16 16
Louňovice 2023-07-16 17
Louňovice 2023-07-16 18
Blšany 2023-09-03 8
Blšany 2023-09-03 9
Blšany 2023-09-03 10
Blšany 2023-09-03 11
Blšany 2023-09-03 12
Blšany 2023-09-03 13
Blšany 2023-09-03 14
Blšany 2023-09-03 15
Blšany 2023-09-03 16
Blšany 2023-09-03 17
Blšany 2023-09-03 18
Blšany 2023-09-04 8
Blšany 2023-09-04 9
Blšany 2023-09-04 10
Blšany 2023-09-04 11
Blšany 2023-09-04 12
Blšany 2023-09-04 13
Blšany 2023-09-04 14
Blšany 2023-09-04 15
Blšany 2023-09-04 16
Blšany 2023-09-04 17
Blšany 2023-09-04 18
Litomyšl 2023-09-16 8
Litomyšl 2023-09-16 9
Litomyšl 2023-09-16 10
Litomyšl 2023-09-16 11
Litomyšl 2023-09-16 12
Litomyšl 2023-09-16 13
Litomyšl 2023-09-16 14
Litomyšl 2023-09-16 15
Litomyšl 2023-09-16 16
Litomyšl 2023-09-16 17
Litomyšl 2023-09-16 18
Litomyšl 2023-09-17 8
Litomyšl 2023-09-17 9
Litomyšl 2023-09-17 10
Litomyšl 2023-09-17 11
Litomyšl 2023-09-17 12
Litomyšl 2023-09-17 13
Litomyšl 2023-09-17 14
Litomyšl 2023-09-17 15
Litomyšl 2023-09-17 16
Litomyšl 2023-09-17 17
Litomyšl 2023-09-17 18
Vodňany 2023-10-14 8
Vodňany 2023-10-14 9
Vodňany 2023-10-14 10
Vodňany 2023-10-14 11
Vodňany 2023-10-14 12
Vodňany 2023-10-14 13
Vodňany 2023-10-14 14
Vodňany 2023-10-14 15
Vodňany 2023-10-14 16
Vodňany 2023-10-14 17
Vodňany 2023-10-14 18
Vodňany 2023-10-15 8
Vodňany 2023-10-15 9
Vodňany 2023-10-15 10
Vodňany 2023-10-15 11
Vodňany 2023-10-15 12
Vodňany 2023-10-15 13
Vodňany 2023-10-15 14
Vodňany 2023-10-15 15
Vodňany 2023-10-15 16
Vodňany 2023-10-15 17
Vodňany 2023-10-15 18
Tápiószentmárton 2023-07-29 8
Tápiószentmárton 2023-07-29 9
Tápiószentmárton 2023-07-29 10
Tápiószentmárton 2023-07-29 11
Tápiószentmárton 2023-07-29 12
Tápiószentmárton 2023-07-29 13
Tápiószentmárton 2023-07-29 14
Tápiószentmárton 2023-07-29 15
Tápiószentmárton 2023-07-29 16
Tápiószentmárton 2023-07-29 17
Tápiószentmárton 2023-07-29 18
Tápiószentmárton 2023-07-30 8
Tápiószentmárton 2023-07-30 9
Tápiószentmárton 2023-07-30 10
Tápiószentmárton 2023-07-30 11
Tápiószentmárton 2023-07-30 12
Tápiószentmárton 2023-07-30 13
Tápiószentmárton 2023-07-30 14
Tápiószentmárton 2023-07-30 15
Tápiószentmárton 2023-07-30 16
Tápiószentmárton 2023-07-30 17
Tápiószentmárton 2023-07-30 18

In [119]:
weather_df

,date,city,hour,temperature,feels_like,humidity,wind_speed,weather,rain
0,2023-04-22,Heroltice,8,8.99,7.80,74,2.26,Clear,0.00
1,2023-04-22,Heroltice,9,11.86,10.80,65,2.26,Clear,0.00
2,2023-04-22,Heroltice,10,15.58,14.50,50,2.58,Clear,0.00
3,2023-04-22,Heroltice,11,17.82,16.88,47,2.80,Clear,0.00
4,2023-04-22,Heroltice,12,18.67,17.72,43,3.04,Clear,0.00
...,...,...,...,...,...,...,...,...,...
237,2023-07-30,Tápiószentmárton,14,21.93,22.45,87,0.45,Rain,2.58
238,2023-07-30,Tápiószentmárton,15,21.58,22.04,86,0.45,Rain,2.41
239,2023-07-30,Tápiószentmárton,16,21.88,22.45,89,2.22,Rain,1.35
240,2023-07-30,Tápiószentmárton,17,23.02,23.47,80,1.23,Rain,0.46
241,2023-07-30,Tápiószentmárton,18,23.92,24.22,71,0.45,Clouds,0.00

In [120]:
weather_df.to_csv('weather.csv', index=False)